<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Text completion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Text completion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br /><br /><br /><br />
    <ion-card class="chatbot">
      <ion-card-header>
        <ion-card-title>Chatbot</ion-card-title>
      </ion-card-header>

      <ion-card-content> {{loading}} </ion-card-content>
    </ion-card>
    <br /><br /><br /><br />
    <div class="entrada">
      <ion-item color="light" class="text-entrada">
        <ion-textarea
          placeholder="Enter a description"
          [(ngModel)]="prompt"
        ></ion-textarea>
      </ion-item>
      <ion-button (click)="ask()" fill="outline" expand="block" color="dark">
        Perguntar</ion-button
      >
    </div>
  </div>
</ion-content>
